__pycache__/
.cache/
.mesonpy*/
.mollybuild*/
build/
dist/
subprojects/*
third_party/emsdk

*.so
*.pdb
*.pyd
*.kate-swp

# Un-ignore top-level wraps we've specified
!subprojects/packagefiles
!subprojects/boost.wrap
!subprojects/fmt.wrap
!subprojects/freetype2.wrap
!subprojects/glm.wrap
!subprojects/nanobind.wrap
!subprojects/pybind11.wrap
!subprojects/robin-map.wrap
!subprojects/sdl3_ttf.wrap
!subprojects/sdl3.wrap
!subprojects/tracy.wrap